
body{

	margin-left: 10%;
	margin-right: 10%;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-Y7uzJcKnhw67kgpt3QaJdOSQMSKUOA7CuA&usqp=CAU);
}

#container{

border: 10px white solid;
background-color: white;
}

.content{

border: 4px #C2E9E9 solid;
background-color: #E8FBFB;
padding: 5px;
margin-top: 10px;
overflow: hidden;



}

#heading{

text-align: right;
background-color: #A8F0F0;
}

#heading h2 {
font-size: 14pt;

}

.date {
border-bottom: 2px #009097 dashed;
}

.content img{
	float: right;
}

#navigation{
	background-color: #99E0E0;
	float: left;
	margin-top: 10px;
	width: 150px;
	padding: 5px;
	border: 5px #009097 solid;
	height: 200px;

}


* *:hover {
	background-color: #FFCCE2;
}

